.toolbar a, .toolbar a:visited, .toolbar a:active {
  text-decoration: none;
  color: white;
}

.toolbar a:hover {
  color: #80cbc4;
}

.sub-list a, .sub-list a:visited, .sub-list a:active {
  text-decoration: none;
  color: #00897b;
}

